<div id="toolbar">
<!-- Add buttons as you would before -->
    <select class="ql-font">
        <option selected value="sans serif">Sans Serif</option>
        <option value="inconsolata">Inconsolata</option>
        <option value="roboto">Roboto</option>
        <option value="mirza">Mirza</option>
        <option value="arial">Arial</option>
    </select>
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>

    <!-- But you can also add your own -->
    <button id="custom-button"></button>
</div>