<select class="ql-font">
    <option selected>Sans Serif</option>
    <option value="inconsolata">Inconsolata</option>
    <option value="roboto">Roboto</option>
    <option value="mirza">Mirza</option>
    <option value="arial">Arial</option>
</select>

