<!--Unnecessary to specify value for the default case. -->
<select class="ql-size">
    <option value="8px"> 8 </option>
    <option value="10px"> 10 </option>
    <option selected> 12 </option>
    <option value="14px"> 14 </option>
    <option value="16px"> 16 </option>
    <option value="18px"> 18 </option>
    <option value="20px"> 20 </option>

</select>
