<div id="toolbar">
    <!-- Add buttons as you would before -->
    <%- include font.ejs %>
    <%- include size.ejs %>
    <select class="ql-size"></select>
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
    
    <select class="ql-color"></select>
    <select class="ql-background"></select>
    
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
    
    <select class="ql-header"></select>

    <button class="ql-blockquote"></button>
    <button class="ql-code-block"></button>
    
    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    
    <button class="ql-indent" value="-1"></button>
    <button class="ql-indent" value="+1"></button>
    <button class="ql-direction" value="rtl"></button>
    <select class="ql-align"></select>
    
    <button class="ql-link"></button>
    <button class="ql-image"></button>
    <button class="ql-video"></button>
    <button class="ql-formula"></button>

    <button class="ql-clean"></button>
    <!-- But you can also add your own -->
    <span class="custom-formats">
        <button id="custom-button"></button>
    </span>
</div>
